{require_otp_vsn, "R1[456]B|17"}.

{erl_opts, [{parse_transform, eenum}]}.

{deps, [{eenum, ".*", {git, "git://github.com/rpt/eenum.git",
                       {branch,"master"}}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git",
                      {tag, "0.8.2"}}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
