{require_otp_vsn, "R1[456]B"}.

{erl_opts, [{parse_transform, eenum}]}.

{deps, [{eenum, ".*", {git, "git://github.com/rpt/eenum.git",
                       "ae7f7c3c3e2df8f2cf89ea7c35195139da5d217b"}},
        {meck, ".*", {git, "http://github.com/eproxus/meck.git",
                      "8433cf2e07862ea8c66e85e2578b7146b4332354"}}]}.

{eunit_opts, [verbose]}.
